doctype html
html(lang="en")
  head
    title= Gridlock
    script(type='text/javascript').
      'use strict'

      class Canvas {
        constructor(canvas) {
          this.pxSize = 600;
          this.gridSize = 9;

          this.ctx = canvas.getContext('2d');
        }

        _gridToPx(g) {
          return g * this.pxSize / (this.gridSize + 1)
        }

        // Need to convert to use px values
        _drawRectDeprecated(rect, color) {
          this.ctx.fillStyle = color;
          this.ctx.fillRect(...rect);
        }

        drawCircle(x, y, radius, color) {
          this.ctx.fillStyle = color;
          this.ctx.beginPath();
          this.ctx.arc(
            this._gridToPx(x),
            this._gridToPx(y),
            this._gridToPx(radius),
            0,
            Math.PI * 2,
            true);
          this.ctx.closePath();
          this.ctx.fill();
        }
      }

      class GameState {
        constructor(canvas) {
          this.canvas = canvas;
        }

        render() {
          for (let i = 1; i < 10; i++) {
            for (let j = 1; j < 10; j++) {
              this.canvas.drawCircle(i, j, 0.02, '#333333');
            }
          }
        }
      }

      document.addEventListener("DOMContentLoaded", function(event) {
        let canvas = new Canvas(document.getElementById('canvas'));
        let state = new GameState(canvas);
        state.render();
      });

    style.
      body {
        background-color: #ddd;
        text-align: center;
        font-family: 'Source Code Pro', monospace;
      }
      .canvas-container {
        display: flex;
        justify-content: center;
      }
      #canvas {
        background-color: white;
      }

  body
    h1 Gridlock
    .canvas-container
      canvas(id="canvas" width="600" height="600")
        You are using an oudated browser (or one that doesn't support canvas)
