body {
  background-color: #333;
  color: #FFF;
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

body.win {
  background-color: #0000aa;
}

body.loss {
  background-color: #aa0000;
}

body.win, body.loss h1 {
  color: white;
}

.canvas-container {
  display: flex;
  justify-content: center;
}

#canvas {
  background-color: white;
}

h1 {
  margin-bottom: 0;
}

button {
  margin: 10px 0 20px;
  font-family: "Source Code Pro", monospace;
  height: 30px;
}
